/.vscode/*
/.vscode
/build/*
/build
/build.linux.x86_64
/build.linux.x86_64/
/build.*
/build.*/
/tests/*
./programs/rootfs.ext2
./programs/rootfs.cpio
perf.data
perf.data.old
dtb.dtb
xml
./xml
./xml/*
docs/wiki
docs/API-Reference.md
